*{
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
}

.Rta{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.Boton{
    margin: 2px;
    padding: 10px;
    color: black;
}

.Boton:hover{
    background: lightblue;
    box-shadow: 1px 3px 5px #000;
    border: 1px solid #ffffffc8;
    cursor: pointer;
}

.punto{
    color: black;
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px
}

.Caja{
    border: 1px solid #4ca1dac8;
    margin-bottom: 10px;
    padding: 10px 9px;
    background: rgba(164, 163, 163, 0.676);
    font-size: 14px;
    font-weight: bold;
}
.Seleccion{
    border: 1px solid #4ca1dac8;
    margin-bottom: 10px;
    padding: 10px 9px;
    background: rgba(164, 163, 163, 0.676);
    font-size: 14px;
    font-weight: bold;
}
.container{
    margin: 20px;
    padding: auto;
    box-sizing: border-box;
}

.body{
    font-family: Arial;
    background-image: url(/imagenes/br.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

.Titulo{
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.puntos{
    box-sizing: content-box;
    padding: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 10px;
    width: 50%;
    height: 100% ;
    max-width: 50%;
    color: white;
    border: 3px solid white;
    background-color: white;
}

.r{
    font-family: Arial;
    color: #000;
}